# CASE STUDY 4: TESTING OF HYPOTHESIS

In [30]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as st

In [31]:
data=pd.read_csv('Sales_add.csv')

In [32]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [33]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [34]:
data.isnull().sum()

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

# The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

H0: Digital marketting increased the sales
H1: Digital marketting has no change in sales

In [35]:
st.ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'],alternative='greater')

Ttest_indResult(statistic=-12.995084451110877, pvalue=0.9999999999999999)

Since the p value is high the null hypothesis is accepted. Hence we can conclude that the sales increased with digital marketting

# The company needs to check whether there is any dependency between the features “Region” and “Manager”.

H0: Region and managers are independent
H1: Region and manager are dependent features

In [36]:
crosstab = pd.crosstab(data["Region"],data["Manager"])
crosstab

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [37]:
st.chi2_contingency(crosstab)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

Since the p value is greater than 0.5 the hypothesis is accepted and we can conclude that the features region and manager are independent